<table>
  <thead>
  <th>Category Name</th>
</thead>
<tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %> </td>
      <td><%= link_to "Edit", edit_admin_category_path(category.id) %></td>
      <td><%= link_to "Destroy", admin_category_path(category), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  </tbody>
<% end %>
</table>
<%= link_to "Add Category", new_admin_category_path %>
<p><h3><%= link_to "Back", :action => "index", :controller => :users %></h3></p>
