
<div class="right1">
<h2>Add New Category</h2>
<% @category.errors.full_messages.each do|msg|%>
  <p><%= msg %></p>
<% end %>

<%= form_for @category do |c| %>
  <%= c.label :name %><br/>
  <%= c.text_field :name %>
  <%= c.submit "Submit" %>
<% end %>
</div>
