
<!DOCTYPE html>
<html>
  <head>

    <%= stylesheet_link_tag 'products' %>
    <%= javascript_include_tag :default, 'nested_form' %>
    
  </head>
  <body>

 <%  if current_user %>
  <h3><%= link_to "reset password", reset_password_path %>
    <%= link_to "edit user profile", profile_user_path(current_user.id) %>
    <%= link_to "AddNewProduct", products_path(current_user) %>
    <%= link_to "Address", new_address_path %>    
    <% if session[:user].admin == true %>
      <%= link_to "AddCategory", new_category_path %>
    <% end %>
  </h3>
    <%end%>
    <div class="form">
     <%= render :partial => 'shared_users/index' %>
      <%yield%>
    </div>


  </body>
</html>




