
<!DOCTYPE html>
<html>
  <head>

    <%= stylesheet_link_tag 'products' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>

 <%  if current_user %>
  <h3><%= link_to "reset password", {:action => :reset_password} %>
    <%= link_to "edit user profile", {:action => :user_profile, :id => session[:user]} %>
    <%= link_to "AddNewProduct", {:action => :new, :controller => :products, :id => session[:user]} %>
    <% if session[:user].admin == true %>
      <%= link_to "AddCategory", {:action => :new, :controller => :categories} %>
    <% end %>
  </h3>
    <%end%>
    <div class="form">
     <%= render :partial => 'shared_users/index' %>
      <%yield%>
    </div>


  </body>
</html>




