<h2>UserProfile Form</h2>

<%= form_for :userprofile, :url => { :action => "insert", :id => params[:id] }, :method => :put do |up| %>

  <p><%= up.label :billing_address %><br/>
    <%= up.text_field :billing_address %></p>
  <p><%= up.label :perminent_address %><br/>
    <%= up.text_field :perminent_address %></p>
  <p><%= up.label :telephone_number %><br/>
    <%= up.telephone_field :telephone_number%></p>
  <p><%= up.label :mobile_number %><br/>
    <%= up.phone_field :mobile_number %></p>

  
  <p><%= up.label :upload_image, "Upload Image" %>
    <%= up.file_field :upload_image %> </p>

  
  <p><%= up.submit  "Submit"%></p>
<% end %>