<h2>CHANGE PASSWORD FORM</h2>
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<%= form_tag({:action => "update_password"}, :method => :put) do %>
  <p><%= label_tag(:old_password, "old password".camelize) %><br/>
    <%= password_field_tag(:old_password) %></p>
  <p><%= label_tag(:password, "new password".camelize) %><br/>
    <%= password_field_tag(:password) %></p>
  <p><%= label_tag(:confirm_password, "confirm password".camelize) %><br/>
    <%= password_field_tag(:confirm_password) %></p>
  <p><%= submit_tag("changepassword") %></p>
<% end %>

  