<p><%= s.label :name %>
  <br/>
  <%= s.text_field :name %>
</p>
<p>
  <%= s.label :email %>
  <br/>
  <%= s.email_field :email %>
</p>
<p>
  <%= s.label :password %>
  <br/>
  <%= s.password_field :password%>
</p>

<p>
  <%= s.label :date %>
  <br/>
  <%= s.date_select :date %>
</p>