
<div  class="error_explanation">

  <%= s.label :name %>
</div>
<div class="field_with_errors">
  <%= s.text_field :name%>
  <div id="name_error" ></div>
</div><br/>



<div class="error_explanation">
  <%= s.label :email %>
</div>

<div class="field_with_errors">
  <%= s.text_field :email %>
  <div id="email_error" ></div>

</div>

<div class="error_explanation">
  <%= s.label :password %>
</div>
<div class="field_with_errors">
  <%= s.password_field :password%>


</div>

<div class="error_explanation">
  <%= s.label :password_confirmation %>
</div>

<div class="field_with_errors">
  <%= s.password_field :password_confirmation %>

</div>
<p><%= s.submit  "REGISTER ME" %></p>



