  Name: <%= @user.name %><br/>
  Email: <%= @user.email %><br/>
  <h3><%= link_to "BackToUsers",users_path %></h3>
  <h3><%= link_to "BackToAdminUsers",admin_users_path %></h3>
  <h3><%= link_to "BackToAdminCarts",admin_carts_path %></h3>
