<h2>User Profile List</h2>
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>


<% if @userprofile.image_url.present? %>
  <td><%= image_tag @userprofile.image_url, :size => "150x150" %></td>
<% else %>
  <%= image_tag ('avatar.jpg') %>
<% end %>

<div><table border="1">
  
  <tr><td>Content Type </td><td> <%= @userprofile.content_type %></td></tr>
</table></div>
<p><h3><%= link_to "Back", :action => :index %></h3></p>
  
