
<div id="editform">
<h2> Edit <%= @product.name%> details </h2>
<% @product.errors.full_messages.each do |msg| %>
<p><%=msg%></p>
<%end%>
<%=  form_for :product, :url => admin_product_path(@product), :html => {:method => :put} do |p|%>
<%=  render :partial =>"shared_products/form", :locals =>{:p => p}%>
<p> <%=  p.submit "Edit"%> </p>
<%end%>



<%= link_to 'Back', admin_products_path %>

</div>

