<% if current_user.admin == true %>
  <div class="right1">
    <h2 class="list">Product List</h2>

    <ul class="product_list"  >
      <table>
        <th>Product Image</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Action</th>
        <tbody>
          <% @products.each do |product|%>

            <tr> <td><% if product.image_url.present? %>
                  <%= link_to (image_tag 'products/'+(product.image_url), :size=>"50x50"), admin_product_path(product) %>
                <% else %>
                  <%= link_to (image_tag 'products/'+('inde.jpeg'), :size => "50x50"), admin_product_path(product) %>
                <% end %>


              </td>
              <td><%= product.name %></td>

              <td> <%= product.price %></td>
              <td><%= truncate(product.description, :length => 2) %></td>
              <td class="product_image" id="product_image_<%=product.id%>"></td>

              <td><%=  link_to "edit",{:action => :edit, :id => product.id}    %> </td>
              <td> <%=  link_to "show",{ :action => :show, :id => product.id}   %> </td>
              <td><%=  link_to "destroy", admin_product_path(product), :confirm => "Are you sure?", :method => :delete  %>  </td></tr>
          <% end %>
        </tbody>
      </table>
    </ul>
    <div class="clear"></div>
    <p><%= will_paginate @products %></p>


<% else %>
 
    <h2 class="list">Product list</h2>

    <%= button_to "PlaceOrder", new_order_path, :method => :get %>

    <div id="buttons">
      <button id="one"> Count :<%= current_user.cart.cart_items.count %></button>
      <%= button_to "EmptyCart", "JavaScript:void(0);", :class => "emptycart" %>
    </div>
    <%= hidden_field_tag 'c', current_user.cart.cart_items.count %>

    <ul class="product_list"  >
      <script type="text/javascript"></script>
      <% @products.each do |product|%>
        <% cart_item = current_user.cart.cart_items.find_by_product_id(product.id);
        checked = cart_item.present? ? true : false %>
        <li class="product_image" id="product_image_<%=product.id%> ">


          <% if product.image_url.present? %>
            <%= link_to (image_tag 'products/'+(product.image_url), :size=>"50x50"), product_path(product) %>
          <% else %>
            <%= link_to (image_tag 'products/'+('inde.jpeg'), :size => "50x50"), product_path(product) %>
          <% end %>



          <span><%= product.name %> </span>
          <div id="products">
            <br/>  <%= check_box_tag 'product_id[]', product.id ,:id=> "cbox", :class=> "checkbox",:product_id => product.id%>
            <br/> <%= number_field_tag  "number" ,"", :class => "product",:id => "product_#{product.id}"%>
          </div>


        </li>
      <% end %>

    </ul>
    <div class="clear"></div>
    <p><%= will_paginate @products %></p>
    <p>
      <% if session[:user] && session[:user].admin == true %>
      <h3><%= link_to "AddCategory", {:action => :new, :controller => :categories} %></h3>
    <% end %>

    <%if @products.size > 0 && session[:user] && session[:user].admin == false%>
      <h3><%= link_to "Add To Cart", "JavaScript:void(0);", :class => "cart" %></h3>


    <% end %>
  </p>
  </div>
<% end %>


<script type="text/javascript">

  $(document).ready(function(){
  $("div#products input:checkbox").click(function(){
  if($(this).attr("checked"))
  {

  ($("#product_"+$(this).val()).attr("readonly",false));


  } 
  else
  {
  ($("#product_"+$(this).val()).attr("readonly",true))
  }




  });
  });

  $(".product").change(
  function()
  {
  id = $(this).val();
  jQuery.ajax({
  type :"PUT",
  url  : "/cart_items/id/quantity",
  data : "id=" + id
  });
  });

  $("a.cart").click(function(){


    var idList = new Array();
    var count = 0;

    jQuery('input[name=product_id[]]:checked').each(function(){
      idList.push(jQuery(this).val());
      count += 1;
    });

    if(count == 0){
      alert("Please select atleast 1 product");
    }
    else{
      check = confirm("Are you sure you want to add these products to cart?");
      if(check){

        jQuery.ajax({

          type: "POST",
          url: '<%= carts_path %>',
          data:  "id=" + idList
        });
      }
      else{
        return false;
      }
    
      $('#one').text("Count :" + count);
      $("input.emptycart").attr("disabled", false);

    }
  });

  $(document).ready(function(){
  
    if (document.getElementById('c').value == 0){
      $("input.emptycart").attr("disabled", true);
    }
   
    $("input.emptycart").click(function(){
      var idList = new Array();
      var count;
      count = jQuery('input[name=product_id[]]:checked').length;   

      if(count > 0){
        check = confirm("Are you sure?");
        if(check){
          jQuery.ajax({
            type: "POST",
            url: '<%= delete_items_cart_items_path %>',
            data:  "id=" + idList
          });
          jQuery('input[name=product_id[]]:checked').each(function(){
            jQuery(this).attr("checked", false);

          });

        }
        
        $('#one').text("Count :0");
        $("input.emptycart").attr("disabled", true);
        }
      
    });
    
  });





</script>


