
<div class="right1" style="float:right">
  <h2 class="list">Product List</h2>

  <div id="buttons">
    <!--
    <button id="one"> Count :<#= current_user.cart.cart_items.count > </button>
    <=# button_to "EmptyCart", "JavaScript:void(0);", :class => "emptycart" >
>>>>>>> a537b2b810b4496385a04308238287529b945f10

  <# hidden_field_tag 'c', current_user.cart.cart_items.count >
-->
  </div>
  <ul class="product_list"  >
    <table>
      <th>Product Image</th>
      <th>Product Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Action</th>
      <tbody>
    <% @products.each do |product|%>

      <tr> <td><% if current_user.admin == true && product.image_url.present? %>

          <%= link_to (image_tag 'products/'+(product.image_url), :size=>"50x50"), admin_product_path(product) %>
        <% else %>
          <% if current_user.admin == false && product.image_url.present? %>
            <%= link_to (image_tag 'products/'+(product.image_url), :size=>"50x50"), product_path(product) %>
          <% else %>
            <%= link_to (image_tag 'products/'+('inde.jpeg'), :size => "50x50"), admin_product_path(product) %>
          <% end %>

       <%end%>
        </td>
        <td><%= product.name %></td>
    
       <td> <%= product.price %></td>
      <td><%= truncate(product.description, :length => 2) %></td>

      <td><% cart_item = current_user.cart.cart_items.find_by_product_id(product.id);
      checked = cart_item.present? ? true : false %></td>
      <td class="product_image" id="product_image_<%=product.id%>"></td>
       
      <td><%=  link_to "edit",{:action => :edit, :id => product.id}    %> </td>
          <td> <%=  link_to "show",{ :action => :show, :id => product.id}   %> </td>
          <td><%=  link_to "destroy",product, :confirmation => "Are you sure?", :method => :delete  %>  </td></tr>
        <% end %>
        </tbody>
    </table>
  </ul>
  <div class="clear"></div>
  <p><%= will_paginate @products %></p>


</div>

