<div id ="productdetails">
 <p>Image_url: <%=@product.image_url%></p>
 <p>Name: <%=@product.name%></p>
 <p>Price: <%=@product.price%></p>
 <p>Description: <%=@product.description%></p>
 <h3> <%=  link_to "Back", admin_products_path %></h3>
</div>


