<div id ="productdetails">
  <p>Image_url: <%=@product.image_url%></p>
  <p>Name: <%=@product.name%></p>
  <p>Price: <%=@product.price%></p>
  <p>Description: <%=@product.description%></p>
  <% if current_user.admin == true %>
    <h3><%= link_to "edit", edit_admin_product_path %>
      <%= link_to "destroy", admin_product_path(:product), :confirm => 'Are you sure?',:method => :delete %></h3>
  <% end %>
  <h3> <%=  link_to "Back", products_path %></h3>
  <h3> <%=  link_to "BackToAdminProducts", admin_products_path %></h3>
</div>


