<h2>Add New Category</h2>
<% @category.errors.full_messages.each do|msg|%>
  <p><%= msg %></p>
<% end %>

<%= form_for @category do |c| %>
  <p><%= c.label :name %><br/>
  <%= c.text_field :name %></p>
  <%= c.submit "Submit" %>
<% end %>

