
<p><%= p.label :title,"Title" %><br/>
  <%= p.text_field :title %> </p>

<p><%= p.label :description,"Description" %><br/>
  <%= p.text_area :description, :rows => 6 %></p>

<p><%= p.label :price,"Price" %><br/>
  <%= p.text_field :price %></p>

<p><%= p.label :upload_image, "Upload Image" %>
<%= p.file_field :upload_image %> </p>
 