
<p><%= p.label :name,"Name" %><br/>
  <%= p.text_field :name %> </p>

<p><%= p.label :description,"Description" %><br/>
  <%= p.text_area :description, :rows => 6 %></p>

<p><%= p.label :price,"Price" %><br/>
  <%= p.text_field :price %></p>

<p><%= p.label :image_url, "Upload Image" %>
  <%= p.file_field :upload_image %> </p>
