
<h2> Edit <%= @product.title%> details </h2>
<% @product.errors.full_messages.each do |msg| %>
<p><%=msg%></p>
<%end%>
<%=  form_for @product do |p|%>
<%=  render :partial =>"form", :locals =>{:p => p}%>
<p> <%=  p.submit "Successfully edited"%> </p>
<%end%>


<%= link_to 'Show', @product %> |
<%= link_to 'Back', {:action => :new} %>