<h2>Edit <%=@product.name%> details</h2>
<% @product.errors.full_messages.each do|msg|%>
  <p><%= msg %></p>
<% end %>

  <%= form_for @product, :method => :put do |p| %>
    <p><%= p.label :name %><br/>
      <%= p.text_field :name %></p>
    <p><%= p.label :price %><br/>
      <%= p.text_field :price %></p>
    <p><%= p.label :description %><br/>
      <%= p.text_field :description %></p>

    <p><%= p.label :category %>
      <%= p.collection_select(:category_id, Category.all, :id, :name , :prompt => "Select") %></p>

    <p><%= p.submit  "UPDATE ME"%></p>
  <% end %>
