<h1>Products List</h1>
<table border="1">
  <thead>
  <th>Product Image</th>
  <th>Category</th>
  <th>Product Name</th>
  <th>Product Price</th>
  <th>Product Description</th>  
</thead>
<tbody>
  <% @products.each do |product| %>
    <tr>

      <% if product.image_url.present? && product.user_id == session[:user].id %>
        <td><%= image_tag "products/"+product.image_url, :size => "50x50" %></td>
      <% else %>
          <td><%= image_tag ('inde.jpeg'), :size => "30x30" %></td>
      <% end %>

      <td><%= product.category_id %> </td>
      <td><%= product.name %> </td>
      <td><%= product.price %> </td>
      <td><%= product.description %> </td>      

      <% if session[:user] && session[:user].id == product.user_id %>
        <td><%= link_to "Show", product_path(product)%></td>
        <td><%= link_to "Edit", edit_product_path(product) %></td>
        <td><%= link_to "Destroy", product_path(product), :method => :delete, :confirm => "Are you sure?" %></td>
      <% else %>
        <td><%= link_to "Show", product_path(product)%></td>  
      <% end %>
    </tr>
  </tbody>
<% end %>
</table>

<p><h3><%= link_to "Back", :action => :index, :controller => :users %></h3></p>


