
<div class="right">
<h2><u> New Product</u></h2>

<% @product.errors.full_messages.each do |msg| %>
  <p><%=msg%></p>
<%end%>

<%=  form_for(@product, :url=>{:action=>'create'})  do |p| %>
  <%=  render :partial =>"form", :locals => {:p => p} %>
  <p><%= p.label :category %>
    <%= p.collection_select(:category_id, Category.all, :id, :name , :prompt => "Select") %></p>
  <p><%=  p.submit "Submitted"%> </p>
<%end%>
<%= link_to 'Back',products_path %>

</div>