<div class="top">
  <div class="logo" >
    <%= image_tag "rails.png", :size=>"120x120"%><br/>
    <%= "Shopping Cart" %><br/>
    <ul class="login">
      <li>
        <%=  link_to "Login", {:action=> :new} %>
      </li>
     
    </ul>
  </div><br/>

  <div  class="rightheader" >
    <%= "SHOPPING MART" %>
    <div class="counting" >
      <%           %>
    </div>
<div class="form1" >
  <% if session[:user].admin == true %>
 <%= link_to "", {:action => :admin, :controller => :products} %>
<form name="myform" >
<p class="menu">
  <button type="button"  name="mybutton"class="buttons" > <%=  link_to "Users", {:action => :index , :controller=> :users}%> </button>
 <button type="button" name="mybutton1" class="buttons" ><%=  link_to "Products", {:action => :index , :controller=> :products}%></button>
 <button type="button" name="mybutton2" class="buttons" ><%=  link_to "Categories", {:action => :index , :controller=> :categories}%></button>
 <button type="button" name="mybutton3" class="buttons" ><%=  link_to "Cart", {:action => :index , :controller=> :carts}%> </button></p>

</form>
  <%end%>
</div>

  </div>

</div>

<div class="clear"></div>