<div class="top">
  <div class="logo" >
    <%= image_tag "rails.png", :size=>"120x120"%><br/>
    <%= "Shopping Cart" %><br/>
    <ul class="login">

      <li>      
        <%  if session[:user] %>
          <h2><%= link_to "logout", logout_users_path %></h2>
          <h3>welcome to <%= session[:user].name %></h3>
          <% else %>
          <%  session[:user] %>
          <h2><%= link_to "login", login_users_path %></h2>
          <h3>welcome to guest</h3>

          <%end%>
      </li>
    </ul>
  </div><br/>
  <div  class="rightheader" >
    <%= "Shopping Mart" %>
  </div>
</div>
<div class="clear"></div>
