<div class="top">
  <div class="logo" >
    <%= image_tag "rails.png", :size=>"120x120"%><br/>
    <%= "Shopping Cart" %><br/>
  </div>

  <h1>Shopping Mart</h1>

  <div id="welcome">    
    <%  if session[:user] %>
      <%= link_to "logout", logout_users_path %>
      <h3>welcome to <%= session[:user].name %> <%=  link_to "Products", products_path %> <%=  link_to "New Product", new_product_path %></h3>
    <% else %>
      <%= link_to "login", login_users_path %>
      <h3>welcome to guest</h3>
    <% end %>
  </div>

</div>
<div class="clear"></div>
