<div class="top">
  <div class="logo" >
    <%= image_tag "rails.png", :size=>"120x120"%><br/>
    <%= "Shopping Cart" %><br/>
    <ul class="login">
      <li>
<<<<<<< HEAD
        <%=  link_to "Login", {:action=> :new} %>
      </li>
     
=======<li>
        <%  if session[:user] %>
          <h2><%= link_to "logout", logout_users_path %></h2>
          <h3>welcome to <%= session[:user].name %></h3>
        <% end %>
      </li>
>>>>>>> c386afc27e5d569fbcfa1cd7997b1074e2e5af00
    </ul>
  </div><br/>

  <div  class="rightheader" >
<<<<<<< HEAD
    <%= "SHOPPING MART" %>
    

=======
    <%= "SHOPPING CART" %>
>>>>>>> c386afc27e5d569fbcfa1cd7997b1074e2e5af00
  </div>

</div>

<div class="clear"></div>