<div class="top">
  <div class="logo" >
    <%= image_tag "rails.png", :size=>"120x120"%><br/>
    <%= "Shopping Cart" %><br/>
    <ul class="login">
      <li>
        <%=  link_to "Login", {:action=> :new} %>
      </li>
      <li>
        <%=  link_to "Register", {:action=> :new} %>
      </li>
    </ul>
  </div><br/>

  <div  class="rightheader" >
    <%= "SHOPPING MART" %>
  </div>

</div>

<div class="clear"></div>