
<div>
  <table class="menu">
    
    <td class="btn"  > <%= button_to("Users", admin_path) %></td>
    <td class="btn" >  <%= button_to("Products", admin_products_path )%></td>
    <td class="btn" ><%= button_to("Categories", admin_categories_path)%></td>
    <td class="btn" >  <%= button_to("Cart", carts_path)%> </td>
   
  </table>
  <%=yield%>
</div>
