<div>
  <table class="menu">
    <td><%= link_to("Users", admin_path) %></td>
    <td>  <%= link_to("Products", admin_products_path )%></td>
    <td><%= link_to("Categories", admin_categories_path)%></td>
    <td>  <%= link_to("Cart", carts_path)%> </td>
  </table>
  <%=yield%>
</div>


