
<div class="menu">
  <table class="menu">
    <td> <%= button_to("Users", admin_path)%></td>
    <td>  <%= button_to("Products", products_path )%></td>
    <td><%= button_to("Categories", categories_path)%></td>
    <td>  <%= button_to("Cart", cart_path)%> </td>
  </table>
  <%=yield%>
</div>
