<div>



  <table class="menu">    
    <td> <%= button_to("Users", admin_path, :method => :get ) %></td>
    <td>  <%=  button_to("Products", admin_products_path , :method => :get)%></td>
    <td><%=  button_to("Categories", admin_categories_path, :method => :get)%></td>
    <td>  <%=  button_to("Cart", admin_carts_path, :method => :get)%> </td>

  </table>
  <%=yield%>
</div>




