<div class="sidebar" >
  <ul  class="categories"> <%= "Categories" %>
    <li  class="list1"> <%=  link_to "Books", {:action=> :new} %></li>
    <li   class="list1" >   <%=  link_to "Toys", {:action=> :new}  %></li>
    <li  class="list1" >  <%=  link_to "Mobiles", {:action=> :new} %></li>
    <li class="list1" > <%=  link_to "Electronics", {:action=> :new} %></li>
    <li   class="list1"> <%=  link_to "Food", {:action=> :new} %></li>

  </ul>
</div>
