<div class="sidebar" >
  <ul  class="categories"> <%= "Categories" %>
    <li  class="list1"> <%=  link_to "Books",  {:action=> :new,:controller => :products}%></li>
    <li   class="list1" >   <%=  link_to "Toys", {:action=> :new,:controller => :products}  %></li>
    <li  class="list1" >  <%=  link_to "Mobiles", {:action=> :new,:controller => :products} %></li>
    <li class="list1" > <%=  link_to "Electronics", {:action=> :new,:controller => :products} %></li>
    <li   class="list1"> <%=  link_to "Food", {:action=> :new,:controller => :products} %></li>
  </ul>
</div>
