
<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= stylesheet_link_tag 'products' %>
    <%= javascript_include_tag 'application' %>
     <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container">
      <div class="top1">
        <div class="logo" >
          <%= image_tag "rails.png", :size=>"130x130"%><br/>
          <%= "Shopping_Cart" %><br/>
       
          </div><br/>
          <div  class="rightheader" >
            <div class="righthead1">  <h1> Shopping Mart </h1></div>
            <div class="righthead2" >  <%  if session[:user] %>
            <h2><%= link_to "logout", logout_users_path %></h2>
           
            <%else%>
            <h2><%= link_to "login", login_users_path %></h2>

              <%end%>
          </div>
          </div>
        </div>
        <div class="bottom"  >
          <%= render :partial => 'layouts/menu' %>
        </div>
        <div
          class="clear">
        </div>
      </div>
    
    </body>
  </html>

